@import 'tailwindcss';

@layer base {
  :root {
    --bg-color: #fafafa;
    --grid-color: rgba(0, 0, 0, 0.04);
  }

  html,
  body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    background-color: var(--bg-color);
    background-image:
      linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
      linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
    background-size: 4rem 4rem;
  }

}
