---
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Vaggelis Kavouras | Web Developer">
  <Header />
  <main id="main">
    <Hero />
    <Projects />
    <About />
  </main>
  <Footer />
</Layout>
